* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

/* MENU */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: #000;
  position: sticky;
  top: 0;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #25d366;
}

/* HERO */
header {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(135deg, #000, #1b1b1b);
}

header h1 {
  font-size: 52px;
}

header p {
  color: #ccc;
}

/* BOTÃO */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 30px;
  background: #25d366;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}

/* SEÇÕES */
section {
  text-align: center;
  padding: 80px 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background: #1a1a1a;
  padding: 25px;
  border-radius: 12px;
  width: 280px;
}

.card {
  transition: 0.3s;
  border: 1px solid #222;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #25d366;
  box-shadow: 0 0 20px rgba(37, 211, 102, 0.3);
}

/* RODAPÉ */
footer {
  text-align: center;
  padding: 30px;
  background: #000;
  color: #888;
}

/* MENU MOBILE */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: #000;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  nav ul.active {
    display: flex;
  }

  header h1 {
    font-size: 32px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}

